<ul id="blockchain-dropdown" class="dropdown-content">
  <li><a href="ops.html">Operations</a></li>
  <li><a href="broadcaster.html">Broadcaster</a></li>
</ul>
<nav>
  <div class="nav-wrapper light-blue darken-4">
    <a href="index.html" class="brand-logo">
      <img src="https://d36mxiodymuqjm.cloudfront.net/website/icons/img_icon_splinterlands.svg" width="65" height="65" alt="Splinterlands Playground" title="Splinterlands Playground" class="logo">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="{{homeActive}}"><a href="index.html">Home</a></li>
      <li class="{{blockchainActive}}"><a class="dropdown-trigger" href="#!" data-target="blockchain-dropdown">Blockchain<i class="material-icons right">arrow_drop_down</i></a></li>
      <li class="{{apiActive}}"><a href="api.html">API</a></li>
      <li><a href="https://splinterlands.com"><i class="material-icons right">exit_to_app</i>Splinterlands</a></li>
    </ul>
  </div>
</nav>
